<!-- About Page Content -->
  <main class="container">
    <div class="jumbotron about_pg">
    <img src="/assets/images/Fabio.jpeg" class="img-thumbnail float-right ml-5 rounded" alt="MyPicture" style="height: 650px; padding: 0 auto">
      <h1 class="display-1">Hello,</h1>
      <h2 class="display-2">I'm Fabio Luiz</h2><br>
        <div class="inner cover">
            <div class="cover-heading">              
                <p class="text-muted h5 text-justify"> I am currently a student at Centennial College and the third semester of the Software Engineering Technician program. 
                    I am from Rio de Janeiro, Brazil.</p><br>
                <p class="text-muted h5 text-justify">I seek to improve my programming language skills and become a good programmer. My focus is to try to always search 
                for opportunities to growl and learn the trending new technologies as much as possible. I would like to learn more about 
                Python and Machine Learning in the future. Also, I want to create reliable and meaningful software applications.</p>
            </div>
        </div>
    </div>
  </main>