 <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyrifht 2020. All Rights reserved to Fabio Luiz</h6>
    </nav>
  </footer>