<!-- Contact Page Content -->
<main class="jumbotron text-center container">
        <h1 class="jumbotron-heading">Contact</h1>
</main>
<div class="container contact_pg">
  <!-- Information Contact -->
  <div>
    <h4 class="cover-heading">Find Us</h4>
    <div class="text-muted">
      <p>Fabio Luiz<p>
      <p>fabioluiz@centennial.com</p>
      <p>467-9999-9999</p>
      <p>Toronto, ON<p>
    </div>
    <hr>
  </div>
  <!-- Form Contact -->
  <form>
    <h4 class="cover-heading">Contact Us</h4>
    <div class="form-group">
      <div class="form-group">
          <label for="lbl_name">Name</label>
          <input type="name" class="form-control" id="inputName" placeholder="Enter name">
      </div>
      <label for="lbl_email">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="lbl_phone">Phone Number</label>
      <input type="phone" class="form-control" id="inputPhone" placeholder="Enter phone number">
    </div>
    <div class="form-group">
      <label for="lbl_message">Message</label>
      <textarea class="form-control" id="inputMessage" rows="3" placeholder="Enter your message"></textarea>
    </div>
    <p><a class="btn btn-primary" href="/home" role="button">Submit</a></p>
  </form>
</div>