<!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>


<!-- Home Page Content -->
<div class="bgimg">  
  <main class="jumbotron jumbotron_hp text-center container">
        <h1 class="display-3 text-primary">Welcome!</h1>
        <!-- Animated by JS text -->
        <h1 class="typewrite display-4 text-primary" data-period="2000" data-type='[ "Hi, I am Fabio Luiz.", "I Love Design.", "I Love C<>ding." ]'> 
            <span class="wrap"></span>
        </h1>           
        <h2 class="text-light" style="margin-top:160px;"><span class="bg-dark">Mission Statement</span></h2>
        <p class="lead text-light"><span class="bg-dark">Create reliable and meaningful software applications.</span></p>
        <p><a class="btn btn-info" href="/about" role="button" style="margin-top:30px;">Learn more about me &raquo;</a></p>
   </main>   
</div>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>

