 <!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
 
    <!-- Projects Page Content -->
    <div class="container">
        <main class="jumbotron text-center">
            <h1 class="jumbotron-heading">Projects</h1>
        </main>
    </div>
      <div class="container">
        <div class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
            </div>
            <div class="carousel-item red white-text pj1" href="#one!">
            <h3 class="caption left-align">Los Caballeros Restaurant Website</h3>
            </div>
            <div class="carousel-item amber white-text pj2" href="#two!">
            <h3 class="caption left-align">Car Sharing SRS</h3>
            </div>
            <div class="carousel-item green white-text pj3" href="#three!">
            <h3 class="caption left-align">DIT Wereable Device</h3>
            </div>
        </div>
      </div>
      <div class="container">
        <!-- Projects 1 -->
        <div class="inner cover jumbotron_pp">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark text-justify" href="#">Los Caballeros Restaurant Website</a>
                        </h3>
                        <div class="mb-1 text-muted">May 2020</div>
                        <p class="card-text mb-auto text-justify">Website created as part of Client-Side Web Development Class(2ยบ Semester) Project Assignment where I learned the basics of Javascript.</p>
                    </div>
                    <img class="float-right ml-5 rounded" src="/assets/images/project1.PNG" alt="Project 1" style="width:700px; height: 400px; padding: 0 auto">
                </div>
            </div>
        </div>
        <!-- Projects 2 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Car Sharing SRS</a>
                        </h3>
                        <div class="mb-1 text-muted">May 2020</div>
                        <p class="card-text mb-auto text-justify">Software Requirements Specification for Car Sharing project as part of Software Engineering Methodologies Class.</p>
                    </div>
                    <img class="float-right ml-5 rounded" src="/assets/images/project2.jpg" alt="Project 2" style="width:700px; height: 400px; padding: 0 auto">
                </div>
            </div>
        </div>
        <!-- Projects 3 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-warning"> In Progress </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">DIT Wereable Device</a>
                        </h3>
                        <div class="mb-1 text-muted">2020</div>
                        <p class="card-text mb-auto text-justify">Software for wearable speech devices that allow non-speaking persons to use head movement to select
                        on-screen dialogue and communicate conversationally at a normal pace. Working with Unity and C# language</p>
                    </div>
                    <img class="float-right ml-5 rounded" src="/assets/images/project3.jpg" alt="Project 3" style="width:700px; height: 400px; padding: 0 auto">
                </div>
            </div>
        </div>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>