 <!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
 
    <!-- Projects Page Content -->
    <div class="container">
        <main class="jumbotron text-center titleJumbotron">
            <h1 class="jumbotron-heading">Projects</h1>
        </main>
    </div>
      <div class="container">
        <div class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
            </div>
            <div class="carousel-item red white-text pj1" href="#one!">
            <h3 class="caption left-align">Los Caballeros Restaurant Website</h3>
            </div>
            <div class="carousel-item amber white-text pj2" href="#two!">
            <h3 class="caption left-align">Car Sharing SRS</h3>
            </div>
            <div class="carousel-item green white-text pj3" href="#three!">
            <h3 class="caption left-align">DIT Wereable Device</h3>
            </div>
            <div class="carousel-item green white-text pj4" href="#four!">
            <h3 class="caption left-align">Incident Management</h3>
            </div>    
            <div class="carousel-item green white-text pj5" href="#five!">
            <h3 class="caption left-align">Drive Buddy</h3>
            </div>          
        </div>
      </div>
      <div class="container">
        <!-- Projects 1 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Los Caballeros Restaurant Website</a>
                        </h3>
                        <div class="mb-1 text-muted">May 2020</div><br>
                        <p class="card-text mb-auto text-justify">Website created as part of Client-Side Web Development Class(2º Semester) Project Assignment where I learned the basics of Javascript.</p>
                    </div>
                    <img class="float-right ml-5 rounded project" src="/assets/images/project1.PNG" alt="Project 1">
                </div>
            </div>
        </div>
        <!-- Projects 2 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="/assets/pdf/SRS_Car_Sharing.pdf" target="_blank">Car Sharing SRS</a>
                        </h3>
                        <div class="mb-1 text-muted">May 2020</div><br>
                        <p class="card-text mb-auto text-justify">Software Requirements Specification for Car Sharing project as part of 
                        Software Engineering Methodologies Class.</p><br>
                        <p><strong>Created in Group by:</strong> Fabio Luiz, Luana Cesar, Barsaa Tserendavaa, Caitlin Smith, Cai Zhang</p>
                    </div>
                    <img class="float-right ml-5 rounded project" src="/assets/images/project2.jpg" alt="Project 2" style="margin-bottom:20px">
                </div>
            </div>
        </div>
        <!-- Projects 3 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="https://dit-project.herokuapp.com/" target="_blank">DIT Website</a>
                        </h3>
                        <div class="mb-1 text-muted">2020</div><br>
                        <p class="card-text mb-auto text-justify">Website Created as part of Phase 1 of Wimtach/DIT Project. Web based application created in NodeJS. 
                        Includes Google Authentication and Text to Speech features</p><br>
                        <p><strong>Created in Group by:</strong> Fabio Luiz and Asylhan Ukenov</p>
                    </div>
                    <img class="float-right ml-5 rounded project" src="/assets/images/HomePage4.JPG" alt="Project 3" style="margin-bottom:20px">
                </div>
            </div>
        </div>

        <!-- Projects 4 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-success"> Completed </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="https://compp229-incident-management.herokuapp.com/" target="_blank">Incident Management</a>
                        </h3>
                        <div class="mb-1 text-muted">2020</div>
                        <p class="card-text mb-auto text-justify">Cerberus Incident Management (CIM) is a website that stores organized logs of incidents from user tickets into the Incident Dashboard and Records. 
                        The incident records are represented by a table of data hosted by a NoSQL database, MongoDB, which lists all of the
                        incidents reported and the speciﬁc descriptions behind them. </p><br>
                        <p><strong>Created in Group by:</strong> Fabio Luiz, Zhen Wang, Phan Vo, Franz Cadiente, Abdullah Syed and Prab Kaur</p> 
                    </div>
                    <img class="float-right ml-5 rounded project" src="/assets/images/cim.JPG" alt="Project 4">
                </div>
            </div>
        </div>

        <!-- Projects 5 -->
        <div class="inner cover">
            <div class="cover-heading jumbotron">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-light bg-warning"> In Progress </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#" target="_blank">Drive Buddy</a>
                        </h3>
                        <div class="mb-1 text-muted">2021</div><br>
                        <p class="card-text mb-auto text-justify">DriveBuddy is a dedicated web app to help Ontario G2 and G driving license candidates and driving instructors in Ontario. 
                        DriveBuddy plays a role as a classified advertising and booking service that operates as a centralized network of G2 and G license candidates, driving instructors and related service providers, 
                        for posting local advertisements. This application will be developed using NodeJS and React</p><br>                    
                    </div>
                    <img class="float-right ml-5 rounded project" src="/assets/images/project3.jpg" alt="Project 5">
                </div>
            </div>
        </div>


<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>