 <!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
 
    <!-- Service Page Content -->
    <div class="container">
        <main class="jumbotron text-center">
            <h1 class="jumbotron-heading">Services</h1>
        </main>
        <div class="album py-5 bg-light jumbotron_pp">
            <div class="row">
                <!-- Service 1 -->
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/assets/images/service1.jpeg" alt="Service 1" style="height: 200px; padding: 0 auto">
                        <div class="card-body">
                            <h5 class="mb-0">Web Development</h5><br>
                            <p class="card-text text-justify">Web development services imply designing, building, integrating, scaling and maintaining dynamic software solutions that work via intranet or internet.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p><a class="btn btn-sm btn-outline-secondary" href="/contact" role="button">Contact Us</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service 2 -->
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/assets/images/service2.jpg" alt="Service 2" style="height: 200px; padding: 0 auto">
                        <div class="card-body">
                            <h5 class="mb-0">General Programming</h5><br>
                            <p class="card-text text-justify">We offer services in any language to complete your project and turn your dream into reality.</p><br><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p><a class="btn btn-sm btn-outline-secondary" href="/contact" role="button">Contact Us</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service 3 -->
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/assets/images/service3.jpg" alt="Service 3" style="height: 200px; padding: 0 auto">
                        <div class="card-body">
                            <h5 class="mb-0">Mobile Apps</h5><br>
                            <p class="card-text text-justify">We will help you create practical and seamless experiences on any device and get the best of mobile technology for your business.</p><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p><a class="btn btn-sm btn-outline-secondary" href="/contact" role="button">Contact Us</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>