/* 
    app.css
    Made by Fabio Luiz
    Student # 301077364
    2020, Oct 08
 */

/* Background Image HomePage */
.bgimg {
    position: relative;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/back_hp.jpg");
    height: 100%; 
    min-height: 950px;
    max-height: 950px;
}

/* Background Image Jumbotron HomePage */
.jumbotron_hp {
    background-image: url("/assets/images/bkgd_hp.jpg");
    background-size:contain;
    min-height: 900px;
    max-height: 900px;
    opacity: 0.95;
}

.jumbotron_pp {
    margin-top: 30px;
}

/* Jumbotron Min-Height About Page */
.about_pg {
    min-height: 900px;
    max-height: 900px;
}

.contact_pg {
    min-height: 1000px;
    max-height: 1000px;
}

.hello_msg {
    font-size: 20px !important;
    margin-right: 10px !important;
    color: white !important;
    font-weight: 450 !important;
}

.submit-btn {
    font-size: 15px !important;
    font-weight: 400;
}

.carousel{
    height: 500px !important;
}

.pj1 {
    background: url('/assets/images/project1.PNG');
    background-size: cover;
}

.pj2 {
    background: url('/assets/images/project2.jpg');
    background-size: cover;
}

.pj3 {
    background: url('/assets/images/project3.jpg');
    background-size: cover;
}

.caption {
    margin-top: 150px;
    margin-left: 50px;
    color: blanchedalmond;
    font-weight: 500;
    text-shadow:2px 2px darkgoldenrod;
}

.socialmedia li {
	float: left;
	margin-left: 25px;
	margin-bottom: 30px;
	list-style-type: none;
}

.socialmedia li a {
	height:30px;
	width:30px;
	display: block;
}

.socialmedia ul {
	list-style-type: none;
}

.socialmedia img {
	height:45px;
	width:45px;
}




footer h6 {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,.6);
}



