/* 
    app.css
    Made by Fabio Luiz
    Student # 301077364
    2020, Oct 08
 */

/* Background Image HomePage */
/*body {
    padding-bottom: 60px;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url("../assets/images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/

.titleJumbotron {
    background: none;
    text-align: center;
    height: 100px;
    color: #daa520;
    text-shadow: 3px 3px #818181;
    font-size: 130px !important;
    letter-spacing: 4px;
    margin-bottom: 100px;
}

.bgimg {
    position: relative;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/back_hp.jpg");
    min-height: 700px;
    max-height: 950px;
}

.bgimg h1 {
    font-size: 60px!important;
    margin-top: 0!important;
}

/* Background Image Jumbotron HomePage */
.jumbotron_hp {
    background-image: url("/assets/images/bkgd_hp.jpg");
    background-size:contain;
    min-height: 600px;
    max-height: 900px;
    opacity: 0.95;
}

.jumbotron_pp {
    margin-top: 30px;
}

.jumbotron_pp img {
    height: 150px!important; 
    padding: 0 auto
}

/* Jumbotron Min-Height About Page */
.about_pg {
    min-height: 600px;
    max-height: 900px;
}

.about_pg p {
    font-size: 15px!important;
}

.about_pg h1, .about_pg h2 {
    font-size: 70px!important;
}

.about_pg img {
    height: 500px; 
    padding: 0 auto
}

.contact_pg {
    min-height: 1000px;
    max-height: 1000px;
}

.register_pg {
    min-height: 600px;
    max-height: 600px; 
}

.hello_msg {
    font-size: 20px !important;
    margin-right: 10px !important;
    color: white !important;
    font-weight: 450 !important;
}

.submit-btn {
    font-size: 15px !important;
    font-weight: 400;
}

.carousel{
    height: 400px !important;
}

.pj1 {
    background: url('/assets/images/project1.PNG');
    background-size: cover;
}

.pj2 {
    background: url('/assets/images/project2.jpg');
    background-size: cover;
}

.pj3 {
    background: url('/assets/images/HomePage4.JPG');
    background-size: cover;
}

.pj4 {
    background: url('/assets/images/cim.JPG');
    background-size: cover;
}

.pj5 {
    background: url('/assets/images/project3.jpg');
    background-size: cover;
}

.caption {
    margin-top: 150px;
    margin-left: 50px;
    color: blanchedalmond;
    font-weight: 500;
    text-shadow:2px 2px darkgoldenrod;
}

.socialmedia li {
	float: left;
	margin-left: 25px;
	margin-bottom: 30px;
	list-style-type: none;
}

.socialmedia li a {
	height:30px;
	width:30px;
	display: block;
}

.socialmedia ul {
	list-style-type: none;
}

.socialmedia img {
	height:45px;
	width:45px;
}

.list {
    min-height: 900px!important;
}

.project {
    width:600px!important; 
    height: 350px!important; 
    margin-top: 50px!important; 
    margin-right: 20px!important;
}


footer h6 {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,.6);
}


@media screen and (max-width: 650px) {
    .project {
        width:280px!important; 
        height: 180px!important; 
        margin-top: 10px!important; 
        margin-left: 30px!important;
        margin-bottom: 20px!important;
    }

    .about_pg img {
        width: 200px!important;
        height: 300px!important;
    }

    .about_pg p {
        font-size: 10px!important;
    }
    
    .about_pg h1, .about_pg h2 {
        font-size: 35px!important;
    }

    .resume {
        font-size: 12px!important;
        height: 35px!important;
    }

    .jumbotron_hp {
        max-height: 650px!important;
        opacity: 0.95;
    }

    .bgimg h1, .bgimg h2 {
        font-size: 30px!important;
    }

    .bgimg p {
        font-size: 15px!important;
    }

    .bgimg h2 {
        margin-top: 60px!important;
        font-size: 20px!important;
    }


    .bgimg {
        min-height: 0px!important;
        max-height: 650px!important;
    }
}

